* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #0d1117;
  color: #f1f1f1;

  line-height: 1.7;
  letter-spacing: 0.2px;
}

/* HERO */
.hero {
  background: #111827;
  text-align: center;
  padding: 60px 20px;
  border-bottom: 1px solid #1f2937;
}

.profile-pic {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #3d8d74;
}

.subtitle {
  color: #b0b7c3;
  margin-top: 10px;
}

/* Buttons */
.hero-buttons {
  margin: 25px 0;
}

.btn {
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  margin: 0 6px;
  transition: 0.3s ease;
}

.primary {
  background: #3d8d74;
  color: white;
}

.primary:hover {
  background: #4aa386;
}

.secondary {
  border: 2px solid #3d8d74;
  color: #3d8d74;
}

.secondary:hover {
  background: #3d8d74;
  color: white;
}

/* Socials */
.socials a {
  color: #d1d5db;
  margin: 0 10px;
  font-size: 22px;
  transition: 0.3s ease;
  text-decoration: none;
}

.socials a:hover {
  color: #3d8d74;
}

/* Sections */
.section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

.section.light {
  background: #161b22;
  border-radius: 12px;
}

/* Divider */
.divider {
  width: 60px;
  height: 3px;
  background: #3d8d74;
  margin: 15px 0 30px 0;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

/* Cards */
.card {
  background: #1c2330;
  padding: 20px;
  border-radius: 12px;
  margin: 0 auto 20px auto;
  max-width: 900px;
  border: 1px solid #2b3442;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.card h3,
.card p,
.card li {
  color: #f1f1f1;
}

.tools {
  font-size: 0.9em;
  color: #b0b7c3;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.85em;
  color: #9ca3af;
  border-top: 1px solid #1f2937;
}

/* Project Images */
.project-pic,
.project4-pic {
  width: 100%;
  max-width: 1020px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid #2b3442;
}

.project1-pic {
  width: 100%;
  max-width: 610px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid #2b3442;
}
